#componentList {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 1rem;
}

.component-badge {
  padding: 0.4rem 0.7rem;
  border-radius: 999px;
  font-size: 0.85rem;
  font-weight: bold;
}

.badge-title {
  background: #dbeafe;
}

.badge-subtitle {
  background: #e9d5ff;
}

.badge-button {
  background: #dcfce7;
}

.badge-navigation {
  background: #fef3c7;
}

.badge-image {
  background: #ffedd5;
}

.badge-text {
  background: #e5e7eb;
}

.badge-card {
  background: #fce7f3;
}

.badge-footer {
  background: #ccfbf1;
}

#imageWrapper {
  position: relative;
  margin-top: 1rem;
  width: 100%;
  display: inline-block;
}

#imagePreview {
  width: 100%;
  border-radius: 8px;
  display: none;
  position: relative;
  z-index: 1;
}

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  pointer-events: none;
}

.overlay-box {
  position: absolute;
  border: 3px solid red;
  background: rgba(255, 255, 255, 0.15);
  color: black;
  z-index: 10;
  font-size: 0.75rem;
  font-weight: bold;
  padding: 0.2rem 0.4rem;
  border-radius: 4px;
}

.overlay-title {
  border-color: #2563eb;
}

.overlay-subtitle {
  border-color: #9333ea;
}

.overlay-button {
  border-color: #16a34a;
}

.overlay-navigation {
  border-color: #ca8a04;
}

.overlay-image {
  border-color: #f97316;
}

.overlay-text {
  border-color: #6b7280;
}

.overlay-card {
  border-color: #db2777;
}

.overlay-footer {
  border-color: #0d9488;
}

.legend-color.overlay-navigation {
  border-color: #ca8a04;
  background-color: #fef3c7;
}

.legend-color.overlay-title {
  border-color: #2563eb;
  background-color: #dbeafe;
}

.legend-color.overlay-subtitle {
  border-color: #9333ea;
  background-color: #e9d5ff;
}

.legend-color.overlay-image {
  border-color: #f97316;
  background-color: #ffedd5;
}

.legend-color.overlay-card {
  border-color: #db2777;
  background-color: #fce7f3;
}

.legend-color.overlay-button {
  border-color: #16a34a;
  background-color: #dcfce7;
}

.legend-color.overlay-text {
  border-color: #6b7280;
  background-color: #e5e7eb;
}

.legend-color.overlay-footer {
  border-color: #0d9488;
  background-color: #ccfbf1;
}

#legend {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
  margin-top: 1rem;
}

.legend-item {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-size: 0.9rem;
}

.legend-color {
  width: 18px;
  height: 18px;
  border-radius: 4px;
  border: 3px solid;
  display: inline-block;
}